{{#> layouts/default}}
  {{#*inline "content-body"}}
    {{> partials/header.hbs}}
    <div class="img"></div>
    <img src="{{img}}">
    <a href="/about-us">About Us</a>
    <a href="/contact-us">Contact Us</a>
  {{/inline}}
{{/ layouts/default}}
