@import '~kouto-swiss/index.styl'

@import './space-mono.styl'

meyer-reset()
box-sizing-reset()
normalize()

html, body
  font-family: 'Space Mono'

.img
  background-image: url('~img/dragging.png')
  size: 100px 100px
